<div fxLayout="row" fxLayoutAlign="center center" class="drink-list-det">
  <mat-card fxFlex="40" class="drink-tabs card-margins">
    <mat-card-content >
    <mat-tab-group mat-align-tabs="center" style="max-height: 600px;">
      <mat-tab label="Coctails" >
        <mat-card class="drink-card" *ngFor="let coctailItem of coctails">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2 style="margin: 0">{{coctailItem.drinkName}}</h2><img [src]="coctailItem.drinkImage" alt="drink">
          </div>
          <button mat-flat-button type="submit" class="btn-success">Details</button>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab label="Wines" >
        <mat-card class="drink-card drink-card--wines" *ngFor="let wineItem of wines">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2 style="margin: 0; max-width: 215px">{{wineItem.drinkName}}</h2><img [src]="wineItem.drinkImage" alt="drink">
          </div>
          <button mat-flat-button type="submit" class="btn-success">Details</button>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab label="Booze" >
        <mat-card class="drink-card drink-card--booze" *ngFor="let boozeItem of boozes">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2 style="margin: 0">{{boozeItem.drinkName}}</h2><img [src]="boozeItem.drinkImage" alt="drink">
          </div>
          <button mat-flat-button type="submit" class="btn-success">Details</button>
          </div>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
    </mat-card>
    </div>
