<div fxLayout="row" fxLayoutAlign="center center" class="drink-list-det">
  <mat-card fxFlex="40" class="drink-tabs card-margins">
    <mat-card-content >
    <mat-tab-group mat-align-tabs="center" style="max-height: 600px;">
      <mat-tab label="Coctails" >
        <mat-card class="drink-card" *ngFor="let coctailItem of coctails">
          <mat-card-title class="drink-item-title"> <h2>{{coctailItem.drinkName}}</h2></mat-card-title>
          <div fxLayout="row" fxLayoutAlign="space-between center">

            <div fxLayout="row" fxLayoutAlign="space-between center">
            <img [src]="coctailItem.drinkImage" alt="drink">
            <p>{{coctailItem.drinkDescription}}</p>
          </div>

          </div>
        </mat-card>
      </mat-tab>
      <mat-tab label="Wines" >
        <mat-card class="drink-card drink-card--wines" *ngFor="let wineItem of wines">
          <mat-card-title class="drink-item-title"> <h2>{{wineItem.drinkName}}</h2></mat-card-title>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center"><img [src]="wineItem.drinkImage" alt="drink">
            <p>{{wineItem.drinkDescription}}</p>
          </div>

          </div>
        </mat-card>
      </mat-tab>
      <mat-tab label="Booze" >
        <mat-card class="drink-card drink-card--booze" *ngFor="let boozeItem of boozes">
          <mat-card-title class="drink-item-title"><h2>{{boozeItem.drinkName}}</h2></mat-card-title>

          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center">
            <img [src]="boozeItem.drinkImage" alt="drink">
            <p>{{boozeItem.drinkDescription}}</p>
          </div>
          </div>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
    </mat-card>
    </div>


