.drink-list-det {
  .drink-tabs {
  }
  .drink-card {
    margin: 40px;
    img {
      width: 50px !important;
      margin-left: 10px !important;
    }
    h2 {
      margin: 0;
    }
    &--wines {
      h2 {
        max-width: 215px;
      }
      img {
        width: 70px !important;
      }
    }
    &--booze {
      img {
        width: 70px !important;
      }
    }
  }
}
