 <mat-toolbar color="primary" class="toolbar-custom" >
    <img src="../../assets/icon.png" alt="logo" routerLink="/recipe-list">
    <div *ngIf="userIsAuthenticated" fxLayout="row"  fxFlex="100" fxLayoutAlign="center center">
    <a mat-button routerLink="/create" routerLinkActive="mat-primary">New Recipe</a>
    <a mat-button routerLink="/recipe-list" routerLinkActive="mat-primary">Recipe List</a>
    <a mat-button routerLink="/drink-list" routerLinkActive="mat-primary">Drink List</a>
  </div>
    <div *ngIf="userIsAuthenticated" class="logout-custom" >
    <a mat-button mat-flat-button color="warn" (click)= "onLogout()">Logout</a>
  </div>
</mat-toolbar>
