
.toolbar-custom {
  position: sticky;
  top: 0;
  z-index: 10;
  background: unset !important;
  color: #000;
  padding: 40px 15px;
  margin-bottom: 30px !important;
  a {
    font-size: 22px !important;
    &:focus {
      color: #823038 !important;
    }
    &:active {
      color: #823038 !important;
    }
  }
    img {
        width: 55px !important;
        margin-right: 15px;
        cursor: pointer;
    }
    span {
        padding: 0 8px;
        font-size: 16px;
        cursor: pointer;
        &:focus {
            outline: none;
            background-color: #886F68;
            border-radius: 4px;
        }
    }
    .logout-custom {
      a {
        background:#823038 !important; ;
      }
    }
}

