.bg-custom {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.32);
    width: 30%;
    margin: 40px 0;
}


// @font-face {
//     font-family: mainFont;
//     src: url(../../../fonts/GoldenHillsDEMO.ttf);
// }
// h2 {
//     font-family: mainFont !important;

// }
