<div fxLayout="row">
      <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" class="signup-det">
        <h1 class="logo-custom">ONLINE <span>RECIPE BOOK</span></h1>
        <form class="bg-custom" fxLayout="column" (submit)="onSignup(signupForm)" #signupForm="ngForm">
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" ngModel required name="email" required email #emailSignup="ngModel">
            <mat-error *ngIf="emailSignup.invalid">Please enter the value in this field</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" required ngModel name="password" #passwordSignup="ngModel">
            <mat-error *ngIf="passwordSignup.invalid">Please enter the value in this field</mat-error>

          </mat-form-field>
          <button mat-flat-button type="submit" color="primary" fxFlex="33" *ngIf="!isLoading">Sign up</button>
        </form>
        <button mat-stroked-button color="primary" class="signup-btn-custom" (click)="onLogin()">Back to the login screen!</button>

      </div>
    </div>
