@font-face {
  font-family: mainFont;
  src: url(../../../fonts/Audiowide-Regular.ttf);
}

.signup-det {
height: 920px;
.logo-custom {
  font-size: 31px;
  margin: 40px 0 0 0;
  color: #673ab7;
  border-radius: 4px;
  font-family: mainFont !important;
  padding: 15px;
  span {
    background-color: #673ab7;
    color: white;
    border: 1px solid #673ab7;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0 5px;
  }
}
.signup-btn-custom {
  width: 30%;
  height: 53px;
  box-shadow: 0px 0px 22px -8px rgba(0, 0, 0, 0.32);
  border-radius: 50px;
  border: 0.5px solid;
}
}

.bg-custom {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.32);
    width: 30%;
    margin: 40px 0;
}

