.p-0 {
  padding: 0 !important;
}
.pt-60 {
  padding: 60px !important;
}


.bg-body-custom {
  background-image: url("../assets/background.jpg");
  background-color: #cccccc;
  height: -webkit-fill-available;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

