<div fxLayout="row" fxLayoutAlign="center center" class="recipe-create-det">
    <mat-card fxFlex="40">
      <mat-card-title class="create-title">
        Add New Recipe
      </mat-card-title>
      <mat-card-content class="create-body">
        <form class="example-form" fxLayout="column" (submit) ="onSaveRecipe(recipeForm)" #recipeForm = "ngForm">
          <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input [ngModel]="recipe?.title" required minlength="3" name="title" #title="ngModel" type="text" matInput placeholder="Enter the title of the recipe." >
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput [ngModel]="recipe?.description" required name="description" placeholder="Enter the description of the recipe." class="create-textarea"></textarea>
          </mat-form-field>
          <button mat-flat-button type="submit" color="primary">Save Recipe</button>

        </form>
      </mat-card-content>
    </mat-card>
</div>


