.recipe-create-det {
    .mat-card {
        padding: 0;
        border: 1px solid rgba(0,0,0,.125);
        box-shadow: 0px 0px 40px -16px rgba(156,151,156,0.68);

    }
    .create-title {
        margin: 0;
        padding: 16px 0px;
        background-color: #823038;
        color: white;
        text-align: center;
        border-radius: 4px;
    }
    .create-body {
        padding: 16px;

        input[type="file"] {
            visibility: hidden;
        }
        .title-section {
            padding-bottom: 16px;
        }
        .description-section {
            padding: 10px 0;
        }

        .img-preview {
            height: 20rem;
            margin: 1rem 0;
            img {
                height: 100%;
                max-width: 100%;
            }
        }
        .btn-upload {
          background-color: #858786!important;
          color: #fff;
        }
    }
    .create-textarea {
        resize: none;
        height: 90px;
    }
    button {
        width: 25%;
        &:focus {
            outline: none;
        }
    }
}
