.no-rec-added {
    .card-det {
        min-width: 500px !important;
        max-width: 500px !important;
        padding: 0;
        border: 1px solid rgba(0,0,0,.125);
        box-shadow: 0px 0px 40px -16px rgba(156,151,156,0.68);
        .recipe-title {
            margin: 0;
            padding: 16px;
            background-color: #823038;
            color: white;
            border-radius: 4px;
        }
        .recipe-description {
            margin: 0;
            padding: 16px;
        }
        .img-preview {
            padding: 16px;
            img {
                width: 100%;
                max-height: 271px !important;
            }
        }
        .divider-det {
            position: absolute !important;
            left: 3% !important;
            width: 94% !important;
        }
        .recipe-det-btn {
            padding: 16px;
            button {
                margin-left: 10px;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
