<div fxLayoutAlign="center center" fxFlex="100" class="no-rec-added" fxLayout="row">
    <div *ngIf="recipes.length > 0" fxFlex="25">
        <mat-card *ngFor="let recipe of recipes" class="card-det">
            <mat-card-title class="recipe-title">{{recipe.title}}</mat-card-title>
            <mat-card-content class="recipe-description">{{recipe.description}}</mat-card-content>
            <div class="img-preview">
                <img [src]="recipe.imagePath" [alt]="recipe.title">
            </div>
            <mat-divider class="divider-det"></mat-divider>
        <div fxLayoutAlign="flex-end" class="recipe-det-btn">
            <button mat-flat-button color="primary" [routerLink]="['/edit', recipe.id]">Edit</button>
            <button mat-flat-button color="warn" (click)="onDelete(recipe.id)">Delete</button>
        </div>
    </mat-card>
    </div>
    <div>
        <h1 *ngIf="recipes.length <= 0"> No current recipe! </h1>
    </div>
</div>
